@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;

<section class="section-full-width-content">
    @Model.Content.Value("pageContent")
</section>

