@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<footer>

    <div id="footer-util">
        <div id="footer-util-links">
            <ul>
                <li>
                    <a href='@Umbraco.Content("1fb45187-226c-4d75-a981-b63436cb5854").Url()'>
					    @Umbraco.Content("1fb45187-226c-4d75-a981-b63436cb5854").Name
    				</a>
                </li>
                <li>Terms of Use</li>   
                <li>Cookie Policy</li>
            </ul>	
        </div>	
        <div id="copyright" itemscope itemtype="http://schema.org/copyrightYear">
            &copy; @System.DateTime.Now.Year.ToString() SEO Agency. All rights reserved.
        </div>
        <div id="social-share">
            <a href="https://www.x.com"><span class="iconify" data-icon="mdi-twitter"></span></a>
            <a href="https://www.linkedin.com"><span class="iconify" data-icon="mdi-linkedin"></span></a>
            <a href="https://www.youtube.com"><span class="iconify" data-icon="mdi-youtube"></span></a>
            <a href="https://www.instagram.com"><span class="iconify" data-icon="mdi-instagram"></span></a>
           
        </div>
    </div>
</footer>